[Desktop Entry]
Name=Mozilla Firefox
Name[pl]=Mozilla Firefox
Comment=Web browser
Comment[pl]=Przeglądarka WWW
Exec=mozilla-firefox
Icon=mozilla-firefox
Terminal=false
Type=Application
Categories=GTK;Network;WebBrowser;
# vi: encoding=utf-8
